body{
    font-family: Helvetica,sans-serif!important;
    color: #007C80 !important;
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn a {
    color: #007C80 !important;
    text-decoration: none;
}

.btn a:hover{
    color:white !important;
    text-decoration: none;
}
.btn, .btn:active, .btn:visited {
    border-color: #007C80 !important;
    margin-left: auto;
    margin-right: auto;
    color: #007C80;
}

.btn:hover {
    background-color: #007C80 !important;
    text-decoration: overline;
}

.button {
    display:flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 50vh;
    transform:  translateY(-50%);
    
}

.centerText{
    text-align: center;
    margin-bottom: 10px;
    
}

h4 span{
    background-color: #007c80;
    padding: 8px;
    color: azure;
}

h5 span{
    background-color: #007c80;
    padding: 8px;
    color: azure;
}

.navbar{
    background-color: #007c80;
}

.nav-item-active a{
    color: #007c80;
}

.nav-link,.navbar-brand{
    color: azure;
}

.navbar-brand:hover,.nav-link:hover{
    color: #cfcfcf !important;
}

.nav-item{
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 3px;
    
}

.navbar-toggler{
    background-color: azure !important;
}

.nav-item-active{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: azure;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #32a9ad;
    border-radius: 10px;

}

footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
    text-decoration: none;
  color: white;
}
.footer-pad{
    margin-bottom:30px;
}

.footer-bottom{
  background-color: azure;;
  padding: 2em;
}
.footer-middle{
   background: #007c80;
  padding-top: 2em;
  color: white;
}

.trait{
    background-color: black;
    margin-bottom: auto;
    margin-top: auto;
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
}


.title{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.title2{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}



p{
    color: #042021;
    text-align: center;
}



.block1{
    margin-top: 1%;
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
    padding: 2%;
}

.art1{
    display: flex;
    flex-flow: column;
    margin-left: 5%;
    margin-right: 5%;
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
}


.img-fluid{
    max-width: 75%;
}

.block2{
    margin-top: 2%;
    display: flex;
    flex-flow: column;
    margin-bottom: 5%;
    
}

.profile{
    width: 125px;
    height: 125px;
}

.profileBig{
    margin-right: 7%;
    width: 200px;
    height: 200px;
}

.choice{
    margin-top: 3%;
    display: flex;
    flex-flow: row;

}

.choice1{
    margin-right: 15%;
}

.cardd{
    padding: 15px;
}

.block3{
    display: flex;
    flex-flow: row !important;
}

.colm{
    display: flex;
    flex-flow: column;
    margin-right: 2%;
}

.social{
    margin-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.s1{
    margin-left: 5px;
}


li{
    margin-top: 5px;
}

.modal-title{
    margin-left: auto;
}

.cv{
    display: flex;
    flex-flow: row;
}