body{
    font-family: Roboto, sans-serif!important;
    color: #45717C !important;
    /*background-image: url("../image/background.png");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Css part for the outline buttons */
.btn a {
    color: #45717C !important;
    text-decoration: none;
}

.btn-outline-primary {
    color: #45717C !important;
}

.btn a:hover{
    color:white !important;
    text-decoration: none;
}
.btn, .btn:active, .btn:visited {
    border-color: #45717C !important;
    margin-left: auto;
    margin-right: auto;
    color: #45717C;
}

.btn:hover {
    background-color: #45717C !important;
    text-decoration: overline;
    color: white !important;
}

.button {
    display:flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 50vh;
    transform:  translateY(-50%);
    
}

/* Css part for the navbar */
.navbar{
    background-color: #45717C;
}

.nav-item-active a{
    color: #45717C;
}

.nav-link,.navbar-brand{
    color: azure;
}

.navbar-brand:hover,.nav-link:hover{
    color: #cfcfcf !important;
}

.nav-item{
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 3px;
    
}

.navbar .navbar-toggler-icon {
  background-image: url("../image/dropdown.png");
}

.nav-item-active{
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-active a{
    margin-top: 3px;
    color:aqua;
}



/* Css part for the footer */
footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
    text-decoration: none;
  color: white;
}
.footer-pad{
    margin-bottom:30px;
}

.footer-bottom{
  background-color: azure;
  padding: 10px;
}
.footer-middle{
   background: #45717C;
  padding-top: 2em;
  color: white;
}

.centerText{
    text-align: center;
    margin-bottom: 10px;
    
}

h4 span{
    background-color: #45717C;
    padding: 8px;
    color: azure;
}

h5 span{
    background-color: #45717C;
    padding: 8px;
    color: azure;
}

.trait{
    background-color: black;
    margin-bottom: auto;
    margin-top: auto;
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
}


.title{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.title2{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}



p{
    color: #042021;
    text-align: center;
}



.block1{
    margin-top: 1%;
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
    padding: 2%;
}

.art1{
    display: flex;
    flex-flow: column;
    margin-left: 5%;
    margin-right: 5%;
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
}


.img-fluid{
    max-width: 75%;
}

.block2{
    margin-top: 2%;
    display: flex;
    flex-flow: column;
    
}

.profile{
    width: 125px;
    height: 125px;
}

.profileBig{
    margin-right: auto;
    margin-left: auto;
    width: 175px;
    height: 175px;
}

.choice{
    margin-top: 3%;
    display: flex;
    flex-flow: row;

}

.choice1{
    margin-right: 15%;
}

.cardd{
    padding: 15px;
}

.block3{
    display: flex;
    flex-flow: row !important;
}

.colm{
    display: flex;
    flex-flow: column;
    border-radius: 1%;
    padding: 3%;
    margin: 2%;
    background-color: white;
    
}

.colm2{
    display: flex;
    flex-flow: column;
    margin: 2%;
    
}

.social{
    margin-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}


.s1{
    margin-left: 5px;
}


li{
    margin-top: 5px;
}

.modal-title{
    margin-left: auto;
}


.cv{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.carousel-item > img{
    margin-left: auto;
    margin-right: auto;
    width: 100px;

}

.carous{
    display: flex;
    flex-flow: row;
}

.card1{
    margin: 15px;;
}

.slickT{
    justify-content: center;
}

.newsletter:not( .newsletter--active ) input[type='submit']
{
    display: none;
}

